{:kotoba.app/latest "k51qzi5uqu5dhpturft17i8dddr99ngimdxwjjcw04gdcxq5fmugmohf8wpugo", :kotoba.app/site-cid "bafybeie2j3uum6jsx3b4vhnbxsiufb4rdfwlmtfh3qr7yapebrka2u6ewe", :kotoba.app/id "cloud.itonami.app-air-crew", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dhpturft17i8dddr99ngimdxwjjcw04gdcxq5fmugmohf8wpugo", :published {:own-nodes {:cid "bafybeie2j3uum6jsx3b4vhnbxsiufb4rdfwlmtfh3qr7yapebrka2u6ewe", :ipns "k51qzi5uqu5dhpturft17i8dddr99ngimdxwjjcw04gdcxq5fmugmohf8wpugo", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T04:20:27Z"}}}
